In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
final_train=pd.read_csv('C:/Users/user/Desktop/pythonfiles/FINAL_TRAIN.csv')
final_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_Rare_val,SaleType_WD,SaleType_rareval,SaleCondition_Abnorml,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_Rare_val,SaleCondition_rareval,SalePrice
0,60,-0.220875,-0.207142,7,5,5,5,0.514104,0.575425,-0.288653,...,0,1,0,0,0,1,0,0,0,12.247694
1,20,0.460320,-0.091886,6,8,31,31,-0.570750,1.171992,-0.288653,...,0,1,0,0,0,1,0,0,0,12.109011
2,60,-0.084636,0.073480,7,5,7,6,0.325915,0.092907,-0.288653,...,0,1,0,0,0,1,0,0,0,12.317167
3,70,-0.447940,-0.096897,7,5,91,36,-0.570750,-0.499274,-0.288653,...,0,1,0,1,0,0,0,0,0,11.849398
4,60,0.641972,0.375148,8,5,8,8,1.366489,0.463568,-0.288653,...,0,1,0,0,0,1,0,0,0,12.429216

In [3]:
x=final_train.drop(['SalePrice'],axis=1)
y=final_train['SalePrice']

In [4]:
x.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Rare_val,SaleType_WD,SaleType_rareval,SaleCondition_Abnorml,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_Rare_val,SaleCondition_rareval
0,60,-0.220875,-0.207142,7,5,5,5,0.514104,0.575425,-0.288653,...,0,0,1,0,0,0,1,0,0,0
1,20,0.460320,-0.091886,6,8,31,31,-0.570750,1.171992,-0.288653,...,0,0,1,0,0,0,1,0,0,0
2,60,-0.084636,0.073480,7,5,7,6,0.325915,0.092907,-0.288653,...,0,0,1,0,0,0,1,0,0,0
3,70,-0.447940,-0.096897,7,5,91,36,-0.570750,-0.499274,-0.288653,...,0,0,1,0,1,0,0,0,0,0
4,60,0.641972,0.375148,8,5,8,8,1.366489,0.463568,-0.288653,...,0,0,1,0,0,0,1,0,0,0

In [5]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.50)

In [39]:
model=XGBRegressor()
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [40]:
y_pred=model.predict(X_test)

In [41]:
from sklearn.metrics import r2_score

In [42]:
r2_score(y_test,y_pred)

0.8382790553889738

In [43]:
from sklearn.metrics import mean_squared_error
import math

mse=mean_squared_error(y_test,y_pred)
rmse=math.sqrt(mse)

In [44]:
rmse

0.15917649221586477

In [45]:
final_test=pd.read_csv('C:/Users/user/Desktop/pythonfiles/FINAL_TEST.csv')
final_test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Rare_val,SaleType_WD,SaleType_rareval,SaleCondition_Abnorml,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_Rare_val,SaleCondition_rareval
0,20,0.460320,0.110763,5,6,49,49,-0.570750,0.053428,0.604293,...,0,0,1,0,0,0,1,0,0,0
1,20,0.505733,0.375850,6,6,52,52,0.027027,1.051363,-0.288653,...,0,0,1,0,0,0,1,0,0,0
2,60,0.187842,0.332053,5,5,13,12,-0.570750,0.761852,-0.288653,...,0,0,1,0,0,0,1,0,0,0
3,60,0.369494,-0.054002,6,6,12,12,-0.460051,0.347326,-0.288653,...,0,0,1,0,0,0,1,0,0,0
4,120,-1.219961,-0.552407,8,5,18,18,-0.570750,-0.396190,-0.288653,...,0,0,1,0,0,0,1,0,0,0

In [46]:
final_test_pred=model.predict(final_test)
final_test_pred=np.exp(final_test_pred)

final_test['predicted_values']=final_test_pred

In [47]:
final_test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_Rare_val,SaleType_WD,SaleType_rareval,SaleCondition_Abnorml,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_Rare_val,SaleCondition_rareval,predicted_values
0,20,0.460320,0.110763,5,6,49,49,-0.570750,0.053428,0.604293,...,0,1,0,0,0,1,0,0,0,133955.578125
1,20,0.505733,0.375850,6,6,52,52,0.027027,1.051363,-0.288653,...,0,1,0,0,0,1,0,0,0,178056.484375
2,60,0.187842,0.332053,5,5,13,12,-0.570750,0.761852,-0.288653,...,0,1,0,0,0,1,0,0,0,186645.734375
3,60,0.369494,-0.054002,6,6,12,12,-0.460051,0.347326,-0.288653,...,0,1,0,0,0,1,0,0,0,189028.390625
4,120,-1.219961,-0.552407,8,5,18,18,-0.570750,-0.396190,-0.288653,...,0,1,0,0,0,1,0,0,0,203659.359375

In [48]:
sample=pd.read_csv('C:/Users/user/Desktop/pythonfiles/sample_submission.csv')
sample.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [49]:
r2_score(sample['SalePrice'],final_test['predicted_values'])

-20.94043701443322

In [50]:
mse1=mean_squared_error(sample['SalePrice'],final_test['predicted_values'])
rmse1=math.sqrt(mse1)
rmse1

77346.2357426944